DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aureon?options=-c%20timezone%3Dutc
PORT=8010
REDIS_URL=redis://localhost:6379/0
FINNHUB_API_KEY=
TWELVEDATA_API_KEY=
ALPHAVANTAGE_API_KEY=
SECRET_KEY=a7ab7603b94dfe3dd6c0fa505548081fc5cda3bc340ac80e0f37aaf2f05623fa
